:root{

    /* Primary */
    --cyan-blue: hsl(179, 62%, 43%);
    --cyan-blue-light: hsl(179, 62%, 63%);
    --bright-yellow: hsl(71, 73%, 54%);

    /* Neutral */
    --Light-Gray: hsl(204, 43%, 93%);
    --dark-Gray: hsl(205, 8%, 70%);
    --Grayish-Blue: hsl(218, 22%, 67%);
}

*{
    box-sizing: border-box; 
    margin: 0;
  }

body{
    margin: 1rem;
    background-color: rgb(204, 226, 245);
  }

.info-wrapper{
    display: grid;
    place-content: center;
    max-width: 49.25rem;

    min-height: 100vh;
    margin: 0 auto;
  }

.grid-container > *{
    padding: 2.5rem;
    font-size: 1.2rem;
}

/* .grid-container{
    max-width: 49.25rem;
}  */

.join-community,.monthly-subscription,.reason-to-choose{
    display: grid;
    gap: 1rem;
  }

.join-community{
    background-color: white;
}

.head-tag-color{
    color: var(--cyan-blue);
}

.guarantee{
    color: var(--bright-yellow);
    font-weight: bold;
  }

.join-community,.text-decoration{
    color: var(--dark-Gray);
    background-color: white;
}

.monthly-subscription{
    background-color: var(--cyan-blue);
    color: white;
}
.dollar-sign{
    font-weight: bold;
    font-size: 2rem;
}
button{
    padding: 1rem;
    border: none;
    border-radius: .623rem;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: var(--bright-yellow);
    }

.reason-to-choose{
    background-color: var(--cyan-blue-light);
}

.reason-to-choose h3{
    color: white;
}

.reason-to-choose p{
    color: var(--Light-Gray);
    max-width: 15.625rem;
}

@media screen and (min-width: 400px) {
    .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .join-community{
        grid-column: span 2;
    }
}